*       @armin2208 @spiritreader
/AutoDarkModeApp/ @AutoDarkMode/ui @armin2208 @spiritreader
/AutoDarkModeApp.Core/ @AutoDarkMode/ui @armin2208 @spiritreader
Windows\ Auto\ Dark\ Mode.sln @AutoDarkMode/ui @armin2208 @spiritreader
