<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="AutoThemeChanger.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2"/>
    </startup>
    <userSettings>
        <AutoThemeChanger.Properties.Settings>
            <setting name="AppThemeChange" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SystemThemeChange" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="EdgeThemeChange" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="LocationLatitude" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="LocationLongitude" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Language" serializeAs="String">
                <value />
            </setting>
            <setting name="AccentColor" serializeAs="String">
                <value>False</value>
            </setting>
        </AutoThemeChanger.Properties.Settings>
    </userSettings>
</configuration>
