<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="AutoThemeChanger.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <AutoThemeChanger.Properties.Settings>
            <setting name="AppThemeChange" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SystemThemeChange" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="EdgeThemeChange" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="LocationLatitude" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="LocationLongitude" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Language" serializeAs="String">
                <value />
            </setting>
            <setting name="AccentColor" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="WallpaperLight" serializeAs="String">
                <value />
            </setting>
            <setting name="WallpaperDark" serializeAs="String">
                <value />
            </setting>
            <setting name="WallpaperSwitch" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AlterTime" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="BackgroundUpdate" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="connectedStandby" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="FirstRun" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="LightOffset" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="DarkOffset" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Enabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ThemeLight" serializeAs="String">
                <value />
            </setting>
            <setting name="ThemeDark" serializeAs="String">
                <value />
            </setting>
            <setting name="ThemeSwitch" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AccentColorSwitchTime" serializeAs="String">
                <value>600</value>
            </setting>
            <setting name="OfficeThemeChange" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="ColourFilterKeystroke" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LogonTaskInsteadOfAutostart" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="OfficeThemeChangeWhiteDesign" serializeAs="String">
                <value>False</value>
            </setting>
        </AutoThemeChanger.Properties.Settings>
    </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.WindowsRuntime" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
